<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="name">BrandName</span>
    &nbsp;&nbsp;
    
    <!-- <span >Home</span>
    <span >
        Product
    </span>
    <span >
        Pricing
    </span>
    <span >
        Contact
    </span> -->
    <span >
        <ul>
            <li>Home</li>
            <li>Product</li>
            <li>Pricing</li>
            <li>Contact</li>
        </ul>
    </span>
    <span class="example-spacer"></span>
    <button mat-button style="color:#96BB7C">
        Login
    </button>
    &nbsp;
    <button mat-button style="color:white;background-color: #96BB7C;"  >
        JOIN US
        <mat-icon>arrow_right_alt</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button> -->
  </mat-toolbar>
