.name
  {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #96BB7C;
        margin-left: 65px;
        margin-right:40px;
  }
  h4{
 font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.7px;
color: #737373;
  }
.card1-img
{
    height:72px; width: 72px;

}
  .card-img{

  height: 532px;
width: 628px;
left: 732px;
top: 70px;
border-radius: 0px;

position: absolute;
left: 50.83%;
right: 5.56%;
top: 9.25%;
bottom: -5.94%;
  }
  .card-heading
  {
    margin-top:70px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color:#252B42;
  }
  .card1-heading
  {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
  }
  .v1{

        border-left: 6px solid green;
        border-width: 500px;
    
  }
  .card-img3
  {
    height:250px;
    width:250px;
    margin-left: 60px;
    margin-top:70px;
  }
  .card-img4
  {
    height:250px;
    margin-top: 70px;
  }
  h6{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
  }
  .image-circle
  {
    width: 128px;
height: 128px;
border-radius: 200px;
margin-top:90px;
margin-left:50px;
  }
  .card3-heading
  {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

text-align: center;
letter-spacing: 0.2px;

color: #737373;
width: 320px;
height: 60px;
padding:none;
  }
  .h6-heading
  {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #96BB7C;

  }
  .h3-heading
  {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
text-align: center;
letter-spacing: 0.1px;
color: #252B42;
  }
  .para
  {
    /* paragraph */

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
  }
 .container1
 {
  width: 1120px;
    height: 500px;
    background: #FFF2F3;
    flex: none;
    order: 5;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 input{
  width: 300px;
  height: 35px;
 }