<div class="container">
    <div class="row" >
        <div class="col-md-8" style="height:500px;background-color:#EFF8ED;">
            <div class="name" style="padding-top:40px;">
                <h5>Online Training</h5>
                <h1 style="color:black;font-weight:500;font-size:55px; line-height:80px;">25K+ STUDENTS TRUST US</h1>
                <h4>Our goal is to make online education work <br>for everyone </h4>
                <div>
                    <button mat-button style="color:white;background-color: #96BB7C;"  >
                        Get Quote Now
                    </button>
                    &nbsp;
                    <button mat-button style="color:#96BB7C; border:1px solid #96BB7C">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img class="card-img"src="assets/Placeholder.png">
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
      <mat-card style="height:400px;box-shadow:0px 20px 20px rgba(0, 0, 0, 0.07);">
     <mat-card-header>
        <img class="card1-img"src="assets/icon1.png">

     </mat-card-header>

        <mat-card-content>
            <p class="card-heading">Certified Teacher</p>
            <hr style="width:70px; border:2px solid  #E74040">
            <p class="card1-heading">
                The gradual accumulation of
                information about atomic and
                small-scale behaviour...
            </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card style="height:400px;box-shadow:0px 20px 20px rgba(0, 0, 0, 0.07);">
            <mat-card-header>
               <img class="card1-img"src="assets/telescope.png">
       
            </mat-card-header>
       
               <mat-card-content>
                   <p class="card-heading">2,769 online courses</p>
                   <hr style="width:70px; border:2px solid  #E74040">
                   <p class="card1-heading">
                       The gradual accumulation of
                       information about atomic and
                       small-scale behaviour...
                   </p>
               </mat-card-content>
             </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card style="height:400px;box-shadow:0px 20px 20px rgba(0, 0, 0, 0.07);">
            <mat-card-header>
               <img class="card1-img"src="assets/image1.png">
       
            </mat-card-header>
       
               <mat-card-content>
                   <p class="card-heading">2,769 online courses</p>
                   <hr style="width:70px; border:2px solid #E74040">
                   <p class="card1-heading">
                       The gradual accumulation of
                       information about atomic and
                       small-scale behaviour...
                   </p>
               </mat-card-content>
             </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img  class="card-img3"src="assets/student.jpg">
    </div>
    <div class="col-md-5">
        <hr style="width:70px; margin-top:70px; border:2px solid  #E74040">
        <h2 class="card-heading">Affordable <br>
            Packages</h2>
         <h4 class="card1-heading"> Problems trying to resolve the conflict between 
            the two major realms of Classical physics: 
            Newtonian mechanics </h4> 
         <a style="color:#96BB7C">Learn More</a>   
    </div>  
</div>
<div class="row" style="margin-top:70px;">
    <div class="col-md-6">
        <hr style="width:70px; margin-top:70px; border:2px solid  #E74040">
        <h2 class="card-heading">Affordable <br>
            Packages</h2>
         <h4 class="card1-heading"> Problems trying to resolve the conflict between 
            the two major realms of Classical physics: 
            Newtonian mechanics </h4> 
         <a style="color:#96BB7C">Learn More</a>   
    </div>
    <div class="col-md-5">
       <img class="card-img4" src="assets/veediocard.png">
    </div>  
</div>
<div class="row" style="margin-top:90px;">
    <h6 style="color:#96BB7C">Testimonials</h6>
    <h2 class="card-heading">Our Popular Courses</h2>
    <p class="card1-heading" >Problems trying to resolve the conflict between <br>
        the two major realms of Classical physics: Newtonian mechanics </p>
</div>
<div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
            <img  class="image-circle"src="assets/pic2.png">
        </mat-card-header>
        <br>
        <mat-card-content>
            <p class="card3-heading">
                Slate helps you see how many more days 
                you need to work to reach your financial 
                goal for the month and year. 
            </p>
            <p class="card3-heading">Abc Xyz</p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-6">
            <mat-card>
              <mat-card-header>
                  <img  class="image-circle"src="assets/pic1.png">
              </mat-card-header>
              <br>
              <mat-card-content>
                  <p class="card3-heading">
                      Slate helps you see how many more days 
                      you need to work to reach your financial 
                      goal for the month and year. 
                  </p>
                  <p class="card3-heading">Abc Xyz</p>
              </mat-card-content>
            </mat-card>
    </div>
</div>
</div>
