<div class="container">
<div class="row">

    <div class="col-md-2">
        <h5 class="display">Company Info</h5>
        <div class="display">
            <a>About Us</a>
            <a>Carrer</a>
            <a>We are hiring</a>
            <a>Vlog</a>
        </div>

    </div>
    <div class="col-md-2">
        <h5 class="display">Legal</h5>
        <div class="display">
            <a>About Us</a>
            <a>Carrer</a>
            <a>We are hiring</a>
            <a>Vlog</a>
        </div>

    </div>
    <div class="col-md-2">
        <h5 class="display">Features</h5>
        <div class="display">
            <a>Marketing</a>
            <a>User Analytic</a>
            <a>Live Chat</a>
            <a>Unlimited Support</a>
        </div>

    </div>

    <div class="col-md-2">
        <h5 class="display">Resource</h5>
        <div class="display">
            <a>IOS & Android</a>
            <a>Watch a Demo</a>
            <a>Customer</a>
            <a>API</a>
        </div>

    </div>
    <div class="col-md-4">
        <h5 class="display" >Get In Touch</h5>
        <div class="display">
            <a><mat-icon style="color:#96BB7C;"> phone</mat-icon>123456789</a>
            <a><mat-icon style="color:#96BB7C;" > location_on</mat-icon>Indore, MP</a>
            <a><mat-icon style="color:#96BB7C;">email</mat-icon>abc@gmail.com</a>
    </div>
</div>
</div>
</div>
